<ul>
  <% @posts.each do |post| %>
    <li>
      <a href="<%= post_path(post) %>">
        <h3><%= post.title %></h3>
      </a>
      <p><%= post.description %></p>
      <p>Written by: <%= User.find(post.user_id).name %></p>
    </li>
    <form action="<%= post_path(post) %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  <% end %>
</ul>